<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To‑Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1 id="nom">My To‑Do List</h1>
    <a id="ajout" href="{{ url_for('add_task') }}">➕ Add Task</a>
    <table>
        <tr>
            <th>Title</th><th>Description</th><th>Date</th><th>Status</th><th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task[1] }}</td>
            <td>{{ task[2] }}</td>
            <td>{{ task[4] }}</td>
            <td>{% if task[5] == 1 %}✅ {% else %}⏳ {% endif %}</td>
            <td>
                {% if task[5] == 0 %}
                    <a id="verifier" href="{{ url_for('complete_task', task_id=task[0]) }}">✔️Complete</a>
                {% endif %}
                <br>
                <a id="verifier"  href="{{ url_for('delete_task', task_id=task[0]) }}">🗑️Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
